/* Hide scrollbar for Firefox */
.overflow-hidden {
  scrollbar-width: none;
}

/* Hide scrollbar for other browsers */
.overflow-hidden::-webkit-scrollbar {
  display: none;
}

.links{
    font-weight: 700;
}
.links:hover,
  .links.active {
    color: #FA510F;
  }
  